altgraph==0.17.2
anyio==3.5.0
asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
fastapi==0.75.2
future==0.18.2
h11==0.13.0
idna==3.3
loguru==0.6.0
lxml==4.8.0
nanoid==2.0.0
pefile==2021.9.3
Pillow==9.1.0
pydantic==1.9.0
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.5
pywin32-ctypes==0.2.0
requests==2.27.1
sniffio==1.2.0
starlette==0.17.1
typing_extensions==4.2.0
urllib3==1.26.9
uvicorn==0.17.6
websockets==10.3
win32-setctime==1.1.0
